
 body{
            width: 100%;
            height: 100%;
            background-image: url(img/new2.jpg);
            background-size: cover;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
        }

        .films {
             float: left;
            padding: 20px 0px 0px 20px;
            width: 20%;
        }

        .login {

            width: 50%;
            margin-left: 150px;
            padding: 70px;
        }

        figcaption{
            text-align: center;
            color: white;
        }

        .title {

            color: white;
        }

        .text h1 {

            color: white;
            text-align: center;
            font-size: 50px;
        }

        .about {

            background-color: white;
            padding: 20px 0px 0px 20px;
            }
       
        .text p {

            color: white;
        }

        .comedy {

            float: left;
            padding: 15px;
            width: 20%;
        }

        .action {

            float: left;
            padding: 15px;
            width: 20%;
        }

        .romance {

            float: left;
            padding: 15px;
            width: 20%;
        }

        .contact {

            text-align: center;
            color: white;
        }


       

         .bottom {
           float: left;
            width: 100%;
            padding: 10px;
            height: 100px;
            
      
        }

        .bottom ul{
            margin: 0;
            padding: 0;

        }

        .bottom li{

            float: left;
            display: inline-block;
            padding: 0 1.1rem;
            line-height: 3rem;
            cursor: pointer;
            margin-left: 200px;
            font-size: 23px;

            
        }

         footer{
            position: fixed;
            left: 0;
            right: 0;
            width: 100%;
            height:40px;
            bottom: 0;
            background-color: black;
            color: white;
            text-align: center;
        }

        .form {

            background-color: white;
            z-index: 1;
            max-width: 400px;
            margin: 0 auto 100px;
            padding: 50px;
            position: relative;

        }

        .form button{
            font-family: "Roboto";
            text-transform: uppercase;
            outline: 0;
            background: green;
            width: 100%;
            position: center;
            border: 0;
            padding: 15px;
            color: white;
            cursor: pointer;
        }

        .form button:hover,.form button:active{
            background-color: blue;
        } 

        .form .message{
            margin: 50px 50px 50px 0px;
            font-size: 18px;
        }

        .form .message a{
            color: blue;
            text-decoration: none;
        }  

        .form .registeration-form{
            display: none;
        }

        .form input {

            widith :100%;
        